* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('itap.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo {
    margin: 20px;
    max-height: 60px;

}

#header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100px;

    background-color: #EEEEEE;
}

#title {
    display: inline-block;
    width: fit-content;
    position: absolute;

    line-height: 100px;
    font-size: 24px;
    color: #373A40;
}

#navbar {
    width: fit-content;
    position: absolute;
    right: 0;
}

#navbar li, #navbar a{
    position: relative;
    display: inline-block;
}


#navbar a {
    line-height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

    text-decoration: none;
    color: #373A40;
    font-size: 16px;
}

#navbar li:hover {
    background-color: #DC5F00;
}

#navbar a:hover {
    color: #EEEEEE;
}

#navbar a:hover i {
    border-color: #EEEEEE;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: #EEEEEE;
    border-style: solid;
    border-width: 2px;
    border-color: #DC5F00;
}

.dropdown li a {
    width: 186px;
    text-align: left;
}

.drpbtn:hover .dropdown {
    display: block;
}

.arrow-down {
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #373A40;
    border-width: 0 2px 2px 0;
}

#navbar-arrow {
    position: absolute;
    top: 39px;
    right: 39px;
    display: none;
    width: 15px;
    height: 15px;
}

#panels-bg {
    height: 100vh;
    min-height: 900px;
    width: 100%;
    
    background-color: #686D76CC;
}

#panel-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    vertical-align: middle;
    margin: auto;
    padding-top: 120px;
    z-index: 1;
}

#text-field h1 {
    width: 456px;
    margin: auto;

    color: #373A40;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
}

#text-field p {
    width: 1074px;
    margin: auto;
    margin-top: 30px;

    color: #373A40;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.panel {
    vertical-align: top;
    display: inline-block;
    width: 400px;
    height: 500px;
    margin: 20px;
    margin-top: 40px;

    background-color: #EEEEEE;
    border-radius: 100px;
}

.panel h1 {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;

    color: #373A40;
    font-size: 30px;
    text-align: center;
}

.panel p {
    width: 320px;
    margin: auto;

    color: #373A40;
    font-size: 24px;
    text-align: center;
}

.panel-button {
    position: relative;
    display: block;
    height: 50px;
    width: 50%;
    margin: auto;
    margin-bottom: 0px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    background-color: #DC5F00;
    color: #EEEEEE;
    border-radius: 50px;
    font-size: 24px;
}

#button1 {
    top: 0px;
}

#button2 {
    top: 76px;
}

#button3 {
    top: 8px;
}

.panel:hover {
    width: 450px;
    transition: 1.5s;
}

@media only screen and (max-width: 1500px) {
    #navbar-list {
        display: none;
        background-color: #EEEEEE;
    }
    #navbar-arrow {
        display: inline-block;
    }

    #navbar:hover #navbar-list {
        display: inline-block;
        position: relative;
        top: 100px;
    }
}

@media only screen and (max-width: 1360px) {
    .panel {
        display: block;
        margin: auto;
    }

    #button1 {
        top: 20px;
    }

    #button2 {
        top: 95px;
    }

    #button3 {
        top: 25px;
    }

    #panels-bg {
        height: 2100px;
        width: 100%;
    }

    #text-field p {
        width: 500px;
    }
}