* {
    margin: 0;
    padding: 0;
}

#logo {
    margin: 20px;
    max-height: 60px;

}

#header {
    position: fixed;
    top: 0;
    z-index: 9999999;
    width: 100vw;
    height: 100px;

    background-color: #EEEEEE;
}

#title {
    display: inline-block;
    width: fit-content;
    position: absolute;

    line-height: 100px;
    font-size: 36px;
    color: #373A40;
}

#navbar {
    width: fit-content;
    position: absolute;
    right: 0;
}

#navbar li, #navbar a{
    position: relative;
    display: inline-block;
}


#navbar a {
    line-height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

    text-decoration: none;
    color: #373A40;
    font-size: 16px;
}

#navbar li:hover {
    background-color: #DC5F00;
}

#navbar a:hover {
    color: #EEEEEE;
}

#navbar a:hover i {
    border-color: #EEEEEE;
}

.dropdown {
    display: none;
    position: absolute;
    
    background-color: #EEEEEE;
}

.dropdown li a {
    width: 186px;
    text-align: left;
}

.drpbtn:hover .dropdown {
    display: block;
}

.arrow-down {
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #373A40;
    border-width: 0 2px 2px 0;
}


#panels-bg {
    height: 100vh;
    min-height: 900px;
    margin: auto;
    background-image: url('itap.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#panels-fade {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 900px;

    background-color: #686D76;
    opacity: 0.8;
}

#panel-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    vertical-align: middle;
    margin: auto;
    padding-top: 120px;
    z-index: 1;
}

#text-field h1 {
    width: 456px;
    margin: auto;

    color: #373A40;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
}

#text-field p {
    width: 1074px;
    margin: auto;
    margin-top: 30px;

    color: #373A40;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.panel {
    vertical-align: top;
    display: inline-block;
    width: 400px;
    height: 500px;
    margin: 20px;
    margin-top: 40px;

    background-color: #EEEEEE;
    border-radius: 100px;
}

.panel h1 {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    color: #373A40;
    font-size: 30px;
    text-align: center;
}

.panel p {
    width: 320px;
    margin: auto;

    color: #373A40;
    font-size: 24px;
    text-align: center;
}

.panel-button {
    position: relative;
    display: block;
    height: 50px;
    width: 50%;
    margin: auto;
    margin-bottom: 0px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    background-color: #DC5F00;
    color: #EEEEEE;
    border-radius: 50px;
    font-size: 24px;
}

#button1 {
    top: 10px;
}

#button2 {
    top: 86px;
}

#button3 {
    top: 18px;
}

.panel:hover {
    width: 450px;
    transition: 1.5s;
}

#tugrul p{
    width: 100vw;
    background-color: #E9C893;
    height: 600px;
}

#tugrul img {
    height: 600px;
    display: inline-block;
    position: absolute;
}

#tugrul p {
    display: inline-block;
    padding-left: 400px;
    color: #828081;

}

#button {
    position: relative;
    top: 100px;
    display: block;
    margin-left: 500px;
    border-style: solid;
    border-radius: 20px;
    width: fit-content;
    background-color: black;
}

#button a {
    padding: 10px;
    line-height: 50px;
    
    text-decoration: none;
    color: white;
}

#news {
    line-height: 8vh;
    font-size: 24px;
    padding-left: 50px;
    color: #E9C893;
    background-color: #828081;
    width: 100vw;
    height: fit-content;
    padding-bottom: 20px;
}

#news p {
    margin: 10px;
    font-size: 18px;
    line-height: 18px;
}

#events {
    line-height: 8vh;
    font-size: 24px;
    padding-left: 50px;
    color: #828081;
    background-color: #E9C893;
    width: 100vw;
    height: fit-content;
    padding-bottom: 20px;
    padding-right: 100px;
}

#events div{
    position: relative;
    left: 1700px;
}

#events p {
    margin: 10px;
    font-size: 18px;
    line-height: 18px;
}
