* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 80px;
}

#logo {
    margin: 20px;
    max-height: 40px;

}

#header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 80px;

    background-color: hsl(126, 50%, 30%);
}

#title {
    display: inline-block;
    width: fit-content;
    position: absolute;

    line-height: 80px;
    font-size: 20px;
    color: #EEEEEE;
    right: 0;
}

#navbar {
    width: fit-content;
    position: absolute;
    left: 0;
}

#navbar li, #navbar a{
    position: relative;
    display: inline-block;
}


.navbar-element > a {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

    font-weight: 900;
    text-decoration: none;
    color: #EEEEEE;
}

.navbar-element a {
    line-height: 80px;
    font-size: 16px;
}

.dropdown-element {
    display: flex;
    flex-grow: 1;
}

.dropdown-element a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    line-height: 40px;
    font-size: 16px;
    white-space: nowrap;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    text-decoration: none;
}

#navbar-list li:hover {
    background-color: #06D001;
}

.bottom-dropdown, .right-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    background-color: #F3FF90;
    box-shadow: 2px 2px #000000;
}

.bottom-dropdown .arrow-down, .right-dropdown .arrow-down {
    border: solid #000000;
    border-width: 0 2px 2px 0;
} 

.bottom-dropdown .arrow-right, .right-dropdown .arrow-right {
    border: solid #000000;
    border-width: 2px 2px 0 0;
}

.drpbtn:hover > .bottom-dropdown {
    display: flex;
    
}

.drpbtn:hover > .right-dropdown {
    display: inline-flex;
}

.arrow-down {
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #EEEEEE;
    border-width: 0 2px 2px 0;
}

.arrow-right {
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #EEEEEE;
    border-width: 2px 2px 0 0;
}

#navbar-arrow {
    position: absolute;
    top: 29px;
    left: 29px;
    display: none;
    width: 15px;
    height: 15px;
}

#navbar-button {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    padding-top: 25px;
    padding-top: 25px;
}

#navbar-button > div {
    display: block;
    width: 50px;
    height: 6px;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #EEEEEE;
}

#navbar-button:hover {
    transform: rotate(360deg);
    transition: 1s;
}

#itap-logo {
    vertical-align: middle;
    height: 26px;
    margin-right: 5px;
}

@media only screen and (max-width: 1280px) {

    #navbar-list {
        display: none;
        background-color: #059212;
    }

    #navbar-arrow {
        display: inline-block;
    }

    #navbar-button {
        display: block;
    }

    #navbar:hover #navbar-list {
        display: inline-block;
        position: relative;
        top: 80px;
    }

    #navbar-list .navbar-element {
        display: block;
    }

    .drpbtn:hover > .bottom-dropdown {
        display: inline-flex;
    }
}