* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 80px;
}

#logo {
    margin: 20px;
    max-height: 40px;

}

#header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 80px;

    background-color: #EEEEEE;
}

#title {
    display: inline-block;
    width: fit-content;
    position: absolute;

    line-height: 80px;
    font-size: 20px;
    color: #373A40;
}

#navbar {
    width: fit-content;
    position: absolute;
    right: 0;
}

#navbar li, #navbar a{
    position: relative;
    display: inline-block;
}


.navbar-element a {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

    text-decoration: none;
    color: #373A40;
}

.navbar-element a {
    line-height: 80px;
    font-size: 16px;
}

.dropdown-element {
    display: block;
    width: 100%;
}

.dropdown-element a {
    display: block;
    padding: 0;
    width: 100%;
    line-height: 40px;
    font-size: 16px;
    white-space: nowrap;
}

#navbar li:hover {
    background-color: #DC5F00;
}

#navbar a:hover {
    color: #EEEEEE;
}

#navbar a:hover i {
    border-color: #EEEEEE;
}

.bottom-dropdown, .right-dropdown {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: #EEEEEE;
    box-shadow: 2px 2px #373A40;
}

.drpbtn:hover > .bottom-dropdown {
    display: block;
    
}

.drpbtn:hover > .right-dropdown {
    display: inline-block;
}

.drpbtn:hover > a {
    color: #EEEEEE;
}

.arrow-down {
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #373A40;
    border-width: 0 2px 2px 0;
}

.arrow-right {
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #373A40;
    border-width: 2px 2px 0 0;
}

#navbar-arrow {
    position: absolute;
    top: 29px;
    right: 29px;
    display: none;
    width: 15px;
    height: 15px;
}

#itap-logo {
    vertical-align: middle;
    height: 26px;
    margin-right: 5px;
}

@media only screen and (max-width: 1280px) {

    #navbar-list {
        display: none;
        background-color: #EEEEEE;
    }

    #navbar-arrow {
        display: inline-block;
    }

    #navbar:hover #navbar-list {
        display: inline-block;
        position: relative;
        top: 80px;
    }
}