#panels-bg {
    height: 100vh;
    min-height: 900px;
    width: 100%;

    background-image: url('/assets/images/hitit_gunesi.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#panels-fade {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100%;
    min-height: 900px;

    background-color: hsla(63, 50%, 38%, 0.9);
}

#panel-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding-top: 40px;
    z-index: 1;
}

#text-field h1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 100px;

    color: #000000;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
}

#text-field p {
    width: 1074px;
    margin: auto;
    margin-top: 30px;

    color: #373A40;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.panel {
    vertical-align: top;
    display: inline-flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    margin: 20px;
    margin-top: 40px;

    background-color: #D2E1E9;
    border-radius: 50px;
}

.panel h1 {
    width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    color: #373A40;
    font-size: 24px;
    text-align: center;
}

.panel p {
    width: 320px;
    margin: auto;
    margin-top: 0;

    color: #000000;
    font-size: 20px;
    text-align: center;
}

.panel-button {
    display: block;
    height: 50px;
    width: 250px;
    margin: auto;
    margin-bottom: 20px;
    align-self: flex-end;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    background-color: #518555;
    color: #D2E1E9;
    border-radius: 50px;
    font-size: 24px;
}

.panel:hover {
    width: 400px;
    transition: 1s;
}

.panel, .panel-button {
    box-shadow: 2px 2px #000000;
}

@media only screen and (max-width: 1625px) {
    
    #panel-container {
        position: relative;
    }

    .panel {
        display: flex;
        margin: auto;
        width: 400px;
        height: fit-content;
        padding-top: 10px;
        margin-top: 30px;
    }

    .panel-button {
        margin-top: 20px;
    }

    .panel:hover {
        width: 450px;
        transition: 1s;
    }

    #panels-bg {
        height: 2050px;
        width: 100%;
    }

    #panels-fade {
        height: 2050px;
        width: 100%;
    }

    #text-field p {
        width: 500px;
    }
}