#panels-bg {
    height: 100vh;
    min-height: 900px;
    width: 100%;

    background-image: url('/assets/images/hitit_gunesi.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#panels-fade {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100%;
    min-height: 900px;

    background-color: #686D76EF;
}

#panel-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    vertical-align: middle;
    margin: auto;
    padding-top: 40px;
    z-index: 1;
}

#text-field h1 {
    width: 456px;
    margin: auto;

    color: #373A40;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
}

#text-field p {
    width: 1074px;
    margin: auto;
    margin-top: 30px;

    color: #373A40;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.panel {
    vertical-align: top;
    display: inline-block;
    width: 350px;
    height: 400px;
    margin: 20px;
    margin-top: 40px;

    background-color: #EEEEEE;
    border-radius: 50px;
}

.panel h1 {
    display: block;
    width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    color: #373A40;
    font-size: 24px;
    text-align: center;
}

.panel p {
    width: 320px;
    height: 250px;
    margin: auto;

    color: #373A40;
    font-size: 20px;
    text-align: center;
}

.panel-button {
    position: relative;
    display: block;
    height: 50px;
    width: 250px;
    margin: auto;
    margin-bottom: 0px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    background-color: #DC5F00;
    color: #EEEEEE;
    border-radius: 50px;
    font-size: 24px;
}

.panel:hover {
    width: 400px;
    transition: 1s;
}

#broadcast-bg {
    width: 100%;
    height: 100vh;
    min-height: 900px;
    padding: 1px;

    background-color: #DC5F00;
}

#broadcast-container {

    display: block;
    width: 1280px;
    height: fit-content;
    margin: auto;
    margin-top: 150px;
}

#stream {
    display: inline-block;
    width: 55%;
    height: 724px;

    border-radius: 25px;
}

#broadcast-text {
    display: inline-block;
    padding: 50px;
    margin-right: 14px;
    vertical-align: top;
    width: 457px;
    height: 624px;

    background-color: #EEEEEE;
    border-radius: 25px;
}

#broadcast-text h1 {
    color: #373A40;
    font-size: 24px;
    text-align: left;
}

#broadcast-text p {
    color: #373A40;
    font-size: 20px;
    text-align: left;
    height: 540px;
}

.panel, .panel-button, #stream, #broadcast-text {
    box-shadow: 2px 2px #373A40;
}

@media only screen and (max-width: 1280px) {
    
    .panel {
        display: block;
        margin: auto;
        width: 400px;
        height: fit-content;
        padding-bottom: 20px;
        padding-top: 10px;
        margin-top: 30px;
    }

    .panel:hover {
        width: 450px;
        transition: 1s;
    }

    #panels-bg {
        height: 1650px;
        width: 100%;
    }

    #panels-fade {
        height: 1650px;
        width: 100%;
    }

    #text-field p {
        width: 500px;
    }

    #broadcast-container {
        width: 500px;
    }

    #broadcast-bg {
        height: fit-content;
        padding-bottom: 50px;
    }

    #broadcast-text {
        display: block;
        margin: auto;
        margin-bottom: 50px;
        width: 350px;
        height: fit-content;
    }

    #broadcast-text p {
        height: fit-content;
        margin-bottom: 50px;
    }

    #stream {
        display: block;
        margin: auto;
        width: 450px;
    }
}