.image-row {
    width: fit-content;
    margin: auto;
}

.image-row img {
    display: inline-block;
    width: 350px;
    vertical-align: middle;
    margin: 20px;
}

@media only screen and (max-width: 1280px) {
    .image-row img {
        display: block;
        margin: 10px;

        width: 400px;
    }
}
