#tugrul p{
    width: 100vw;
    background-color: #E9C893;
    height: 600px;
}

#tugrul img {
    height: 600px;
    display: inline-block;
    position: absolute;
}

#tugrul p {
    display: inline-block;
    padding-left: 400px;
    color: #828081;

}

#button {
    position: relative;
    top: 100px;
    display: block;
    margin-left: 500px;
    border-style: solid;
    border-radius: 20px;
    width: fit-content;
    background-color: black;
}

#button a {
    padding: 10px;
    line-height: 50px;

    text-decoration: none;
    color: white;
}

#news {
    line-height: 8vh;
    font-size: 24px;
    padding-left: 50px;
    color: #E9C893;
    background-color: #828081;
    width: 100vw;
    height: fit-content;
    padding-bottom: 20px;
}

#news p {
    margin: 10px;
    font-size: 18px;
    line-height: 18px;
}

#events {
    line-height: 8vh;
    font-size: 24px;
    padding-left: 50px;
    color: #828081;
    background-color: #E9C893;
    width: 100vw;
    height: fit-content;
    padding-bottom: 20px;
    padding-right: 100px;
}

#events div{
    position: relative;
    left: 1700px;
}

#events p {
    margin: 10px;
    font-size: 18px;
    line-height: 18px;
}

@media only screen and (max-width: 1360px) {
   
    #tugrul {
        display: none;
    }

    #button {
        display: none;
    }

    #news {
        display: none;
    }

    #events {
        display: none;
    }
}