body {
    background-image: url('/assets/images/wheat.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#content {
    display: block;
    height: fit-content;
    width: 1250px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;

    background-color: #f5deb3A0;
    border-style: solid;
    border-color: #000000;
}

#content h1 {
    margin-left: 55px;

    color: #000000;
    font-size: 20px;
    text-align: left;
}

#content p {
    margin-left: 55px;
    margin-right: 55px;

    color: #000000;
    font-size: 16px;
    text-align: left;
}

@media only screen and (max-width: 1280px) {
    #content {
        width: 500px;
        border-style: none;
        margin-top: 0;
    }

    #content h1 {
        margin-left: 10px;
    }

    #content p {
        margin-left: 10px;
        margin-right: 10px;
    }
    
}